@import url(https://fonts.googleapis.com/css?family=Marvel:regular,italic,700,700italic);

* {
  margin: 0;
  padding: 0;
  font-family: "Marvel", sans-serif;
}

body {
  padding: 10px;
  background-color: #2c2a2a;
}
